Repository RishikeshDarandale/apollo-datasource-soap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc.yml:

'*.{ts,tsx}':
  - prettier --check
  - eslint
'*.js{,x,on}':
  - prettier --check
'*.md{,x}':
  - prettier --check

feat: updated the CircleCi configuration
  .circleci/config.yml
  package-lock.json
  package.json
Due: prettier --check

fix: updated the npm packages
  package-lock.json
  package.json
Due: prettier --check

fix: excluded the lib directory from the prettier config
  .prettierignore
Due: none

fix: package.json updated
  package.json
Due: prettier --check

fix: circleci conf updated
  .circleci/config.yml
  package.json
Due: prettier --check

fix(release): new build release
  package-lock.json
  package.json
Due: prettier --check

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --check

fix: updated the npm packages
  .eslintrc.yml
  package-lock.json
  package.json
Due: prettier --check

fix(project): updated npm packages
  package-lock.json
  package.json
Due: prettier --check

fix: updated the non-breaking npm packages
  package-lock.json
  package.json
Due: prettier --check

fix: updated the jest package
  package-lock.json
  package.json
Due: prettier --check

fix: updated the husky package
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.yml
  package-lock.json
  package.json
Due: prettier --check

fix: updated the dependabot configuration
  .github/dependabot.yml 
Due: none

fix: updated outdated npm packages
  package-lock.json
  package.json
Due: prettier --check

feat: updated the apollo dependecies to 3.x
  package-lock.json
  package.json
Due: prettier --check

fix: circle ci build failures
  .circleci/config.yml
  package-lock.json
  package.json
Due: prettier --check

feat: enable codeql on this project
  .github/workflows/codeql-analysis.yml
Due: none

docs: added codeql badge
  README.md
Due: prettier --check

fix: circle ci build failures
  .circleci/config.yml
  package-lock.json
Due: prettier --check

fix: updated outdated npm packages
  package-lock.json
  package.json
  src/SOAPDataSource.ts
Due: prettier --check, eslint

fix: updated the npm packages
  package-lock.json
  package.json
  src/SOAPDataSource.ts
Due: prettier --check, eslint

fix: updated the commitlint packages
  package-lock.json
  package.json
Due: prettier --check

fix: updated eslint, lint-staged pckages
  package-lock.json
  package.json
Due: prettier --check

fix: updated soap and graphql packages
  package-lock.json
  package.json
Due: prettier --check

fix: update husky, lint-staged and commitlint packages
  package-lock.json
  package.json
Due: prettier --check
