Repository RishikeshDarandale/apollo-datasource-soap: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc.yml:

'*.{ts,tsx}':
  - prettier --check
  - eslint
'*.js{,x,on}':
  - prettier --check
'*.md{,x}':
  - prettier --check

fix: update jest packages
  package-lock.json
  package.json
Due: prettier --check

fix: update soap and grapgql
  package-lock.json
  package.json
Due: prettier --check

fix: update typescript package
  package-lock.json
  package.json
Due: prettier --check

fix(release): new build release
  package-lock.json
  package.json
Due: prettier --check

docs: update the readme file
  README.md
Due: prettier --check

fix: update circleci config
  .circleci/config.yml
Due: none

test: update the branch coverage to 75% threshold
  jest.config.js
Due: prettier --check

fix: update context as protected from private
  src/SOAPDataSource.ts
Due: prettier --check, eslint

fix: updated the npm packages
  package-lock.json
  package.json
Due: prettier --check

fix(project): update the dependabot configutation
  .github/dependabot.yml
Due: none

fix: format dependabot config with prettier
  .github/dependabot.yml
Due: none

fix: update npm dependecies
  package-lock.json
  package.json
Due: prettier --check

fix: update npm dependencies
  package-lock.json
Due: prettier --check

fix(project): update non breaking npm packages
  package-lock.json
  package.json
Due: prettier --check

fix(project): format source with new prettier version
  src/SOAPDataSource.ts
  src/__test__/SOAPDatasource.test.ts
Due: prettier --check, eslint

fix(project): soap npm package update
  package-lock.json
  package.json
Due: prettier --check

fix(project): update eslint npm packages
  .eslintrc.yml
  package-lock.json
  package.json
  src/SOAPDataSource.ts
Due: prettier --check, eslint

fix(project): update jest npm package
  package-lock.json
  package.json
Due: prettier --check

fix(project): fix the build
  package.json
Due: prettier --check

fix(project): update cci config
  .circleci/config.yml
Due: none

fix(project): fix the compile issue
  tsconfig.json
Due: prettier --check

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --check

feat: update the datasource to support apollo server v4
  README.md
  package-lock.json
  package.json
  src/SOAPCache.ts
  src/SOAPDataSource.ts
  src/__test__/SOAPCache.test.ts
  src/__test__/SOAPDatasource.test.ts
Due: prettier --check, eslint

chore(project): update non breaking npm packages
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --check

chore(project): add gitHub actions workflows
  .github/workflows/master.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

fix(project): update apollo and node types
  package-lock.json
  package.json
Due: prettier --check

fix(project): update tsconfig.json to skip lib check
  tsconfig.json
Due: prettier --check

docs(project): update readme with github action badge
  README.md
Due: prettier --check
